<!DOCTYPE html>
<html> 
  <head>
    <meta content='text/html'; charset='UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password reset confirmation</h1>
    <h3>Hello <%= @user.first_name %></h3>
    <p>
      Your password was reset:
      <br />
    </p>
    <p>
      Your username is: <%= @user.username %><br />
      New password: <%= @user.password %><br />
    </p>
    <p>
      You can login now. We recommand you change your password to one that you will not forget. You can do this after you login from the Control Panel page.
      <br />
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>