<h1 class="title">WELCOME</h1>

<p>You have been registred to blogapp. A confirmation email was sent to you, please check your email and follow instructions.</p>
<p>You will be able to login after you confirm your email</p>

<p>Thank you</p>